In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
dt = pd.read_csv('uber.csv')

In [3]:
dt.shape

(200000, 9)

In [4]:
dt.duplicated().sum()# checking duplication of data
'''
if the duplication is find
dt.drop_duplicates(inplace=True) 
'''

'\nif the duplication is find\ndt.drop_duplicates(inplace=True) \n'

In [5]:
dt.describe()

,Unnamed: 0,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
count,2.000000e+05,200000.000000,200000.000000,200000.000000,199999.000000,199999.000000,200000.000000
mean,2.771250e+07,11.359955,-72.527638,39.935885,-72.525292,39.923890,1.684535
std,1.601382e+07,9.901776,11.437787,7.720539,13.117408,6.794829,1.385997
min,1.000000e+00,-52.000000,-1340.648410,-74.015515,-3356.666300,-881.985513,0.000000
25%,1.382535e+07,6.000000,-73.992065,40.734796,-73.991407,40.733823,1.000000
50%,2.774550e+07,8.500000,-73.981823,40.752592,-73.980093,40.753042,1.000000
75%,4.155530e+07,12.500000,-73.967154,40.767158,-73.963658,40.768001,2.000000
max,5.542357e+07,499.000000,57.418457,1644.421482,1153.572603,872.697628,208.000000

In [6]:
dt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Unnamed: 0         200000 non-null  int64
 1   key                200000 non-null  object
 2   fare_amount        200000 non-null  float64
 3   pickup_datetime    200000 non-null  object
 4   pickup_longitude   200000 non-null  float64
 5   pickup_latitude    200000 non-null  float64
 6   dropoff_longitude  199999 non-null  float64
 7   dropoff_latitude   199999 non-null  float64
 8   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(2)
memory usage: 13.7+ MB

In [7]:
dt.head()

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [8]:
dt.dtypes

Unnamed: 0             int64
key                   object
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [9]:
dt['pickup_datetime'] = pd.to_datetime(dt['pickup_datetime'])

In [10]:
dt.dtypes

Unnamed: 0                         int64
key                               object
fare_amount                      float64
pickup_datetime      datetime64[ns, UTC]
pickup_longitude                 float64
pickup_latitude                  float64
dropoff_longitude                float64
dropoff_latitude                 float64
passenger_count                    int64
dtype: object

In [11]:
dt = dt[dt['passenger_count']!=1]

In [12]:
dt = dt.drop(columns=['key','Unnamed: 0','passenger_count'],axis=1)

In [13]:
dt.isnull().sum()

fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    1
dropoff_latitude     1
dtype: int64

In [14]:
dt = dt.dropna(axis=0)

In [15]:
dt.isnull().sum()

fare_amount          0
pickup_datetime      0
pickup_longitude     0
pickup_latitude      0
dropoff_longitude    0
dropoff_latitude     0
dtype: int64

In [16]:
mat = dt.corr()
mat['fare_amount'].sort_values(ascending=False)

fare_amount          1.000000
pickup_datetime      0.132713
pickup_longitude     0.012763
dropoff_longitude    0.008175
dropoff_latitude    -0.008539
pickup_latitude     -0.011939
Name: fare_amount, dtype: float64

In [18]:
from math import sqrt

# Assuming df is your DataFrame
for i, row in dt.iterrows():
    pu = row['pickup_datetime']
    dt.at[i, "day_of_week"] = pu.weekday()
    dt.at[i, "pickup_hour"] = pu.hour
    x = (row["dropoff_longitude"] - row["pickup_longitude"]) * 54.6
    y = (row["dropoff_latitude"] - row["pickup_latitude"]) * 69.0
    distance = sqrt(x**2 + y**2)
    dt.at[i, "distance"] = distance
    
dt.head()

,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,day_of_week,pickup_hour,distance
3,5.3,2009-06-26 08:22:21+00:00,-73.976124,40.790844,-73.965316,40.803349,4.0,8.0,1.045342
4,16.0,2014-08-28 17:47:00+00:00,-73.925023,40.744085,-73.973082,40.761247,3.0,17.0,2.878848
6,24.5,2014-10-12 07:04:00+00:00,-73.961447,40.693965,-73.871195,40.774297,6.0,7.0,7.416646
12,3.3,2011-05-17 14:03:00+00:00,-73.966378,40.804440,-73.965890,40.807133,1.0,14.0,0.187718
15,9.7,2012-02-21 09:33:00+00:00,-73.990718,40.751920,-73.973053,40.744230,1.0,9.0,1.100829

In [21]:
dt = dt.drop(columns=['pickup_datetime','pickup_latitude','pickup_longitude','dropoff_latitude','dropoff_longitude'],axis=1)

In [37]:
dt.head()

    fare_amount  day_of_week  pickup_hour  distance
4          16.0          3.0         17.0  2.878848
6          24.5          6.0          7.0  7.416646
17         10.5          5.0         23.0  1.621695
24         12.9          2.0         22.0  3.882043
30         25.7          5.0          9.0  8.130658

In [22]:
cor_mat = dt.corr()
cor_mat['fare_amount'].sort_values(ascending=False)

fare_amount    1.000000
distance       0.014418
day_of_week   -0.006293
pickup_hour   -0.031296
Name: fare_amount, dtype: float64

In [24]:
dt = dt[(dt['distance']>1.0) & (dt['distance']<10.00)]
dt = dt[(dt['fare_amount']>10.0) & (dt['fare_amount']<50.00)]

In [25]:
corr_mat = dt.corr()
corr_mat['fare_amount'].sort_values(ascending=False)

fare_amount    1.000000
distance       0.791901
day_of_week   -0.027777
pickup_hour   -0.041899
Name: fare_amount, dtype: float64

In [32]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score

x = dt[['day_of_week','pickup_hour','distance']]
y = dt['fare_amount']

In [33]:
model =LinearRegression()
cross_val_score(model,x,y,cv=5).mean()

0.6292718227581374

In [35]:
from sklearn.ensemble import RandomForestRegressor

model= RandomForestRegressor()
cross_val_score(model,x,y,cv=3).mean()

0.6363845864905533

In [36]:
model.fit(x,y)

RandomForestRegressor()

In [39]:
model.predict(pd.DataFrame({'day_of_week':[4],'pickup_hour':[5.0],'distance':[2.0]}))

array([11.962])

In [40]:
from sklearn.metrics import r2_score

y_predict = model.predict(x)
r2_score_model = r2_score(y,y_predict)
print(r2_score_model)

0.9489852298377921

In [41]:
from sklearn.metrics import mean_squared_error
from math import sqrt

rms = sqrt(mean_squared_error(y,y_predict))
print(rms)

1.6621387291298424